{% extends 'base.html' %} {% block 'main' %}
<html>
  <head>
    <title>Contact US</title>
  </head>
  <body>
    <div class="container">
      <!---menu start-->
      <div class="row">
        

        <div class="col-md-12 mt-2 shadow">
          <h2>Makeup Maven Help Center | 24x7 Customer Care Support</h2>
          <p style="font-size:20px">
            Makeup Maven is an Indian e-commerce company headquartered in Mumbai. It sells beauty, 
            wellness and fashion products through its website, mobile app, 
            and over 100 physical stores. In 2020, it became the first Indian 
            unicorn startup headed by a woman.
            Makeup Maven sells products which are manufactured in India as well as internationally. In 2015, 
            the company expanded from online-only to an omnichannel model and began selling products 
            apart from beauty. As of 2020, it retails over 2,000 brands and 200,000 products across its platforms.
          </p>
        </div>
      </div>
      <!--menu end-->
      <div class="row">
       <div class="col-md-12 mt-2">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.9572890851537!2d72.80863361437855!3d19.19706775314561!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b6a3c5739033%3A0x4e6a480a4a015925!2sGreen%20Village%20Resorts%20Ltd.!5e0!3m2!1sen!2sin!4v1633548123353!5m2!1sen!2sin" 
        width="940" height="440" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
       </div>
      </div>
    </div>
  </body>
</html>
{% endblock 'main' %}
