{% extends 'base.html' %} {% block 'main' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <b>WHAT PERSONAL INFORMATION WE COLLECT:</b>

                <p>When you visit the Site, we automatically collect certain information about your device, 
                    including information about your web browser, IP address, time zone, and some of the cookies that 
                    are installed on your device.</p>

                    <p>Additionally, as you browse the Site, we collect information about the individual web pages or products that you view, what websites or search terms referred you to the Site, and information about how you interact with the Site. We refer to this automatically collected information as Device Information.
                    </p>
                    <b>We collect Device Information using the following technologies:</b>
                    <p>Cookies are data files that are placed on your device or computer and often include an anonymous unique identifier.</p>
                    <p>Log files track actions occurring on the Site, and collect data including your IP address, browser type, Internet service provider, referring/exit pages, and date/time stamps.
                    </p>

                    <p>Mention all other tracking tools and/or technologies being used by your website.</p>

                  <p>Also, when you make a purchase or attempt to make a purchase through the Site, we collect certain information from you, including your name, billing address, shipping address, payment information (including credit card numbers Mention all types of accepted payments, email address, and phone number. This is called Order Information.

                  </p>
                  <p>Make sure you mention all other information that you collect.</p>
                  <p>By Personal Information in this Privacy Policy, we are talking both about Device Information and Order Information.</p>

            </div>
        </div>
    </div>
</body>
</html>
{% endblock 'main' %}