{% extends 'base.html' %} {% block 'main' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div col-md-12>
                <b>Services Offered:</b><br>
                <p>Maven Maven provides a number of Internet-based services through the Platform. 
                    One such Service enables Users to purchase original merchandise such as clothing, 
                    footwear and accessories from various fashion and lifestyle brands (collectively, "Products"). 
                    The Products can be purchased through the Platform through various methods of payments offered. 
                    The sale/purchase of Products shall be additionally governed by specific policies of sale, like 
                    cancellation policy, exchange policy, return policy, etc. (which are found on the FAQ tab on the Platform 
                    and all of which are incorporated here by reference). It is clarified that at the time of creating a return 
                    request, users are required to confirm (via a check box click) that the product being returned is unused and 
                    has the original tags intact. If the product returned by the user is used, damaged or if the original tags are 
                    missing, the user’s return request shall be declined, and the said product shall be re-shipped back to the 
                    customer. In the event that the return request is declined, the user shall not be eligible for a refund, 
                    and Maven Maven assumes no liability in this regard. Further, in the event that the user fails to accept the 
                    receipt of the said re-shipped product, the user shall continue to be not eligible for a refund, and Maven Maven 
                    assumes no liability with respect to the return or refund for the said re-shipped product. In addition, these 
                    Terms of Use may be further supplemented by Product specific conditions, which may be displayed with that Product.
                    Maven Maven does not warrant that Product description or other content on the Platform is accurate, complete, reliable, 
                    current, or error-free and assumes no liability in this regard.</p> 
            </div>
        </div>
    </div>
</body>
</html>
{% endblock 'main' %}